<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Metabase</title>
</head>

<body>
  <ul>
    <li><a href="/rh">RH</a></li>
    <li><a href="/finance">Finance</a></li>
  </ul>
  <router-outlet></router-outlet>
  <iframe
    src="http://localhost:3000/embed/dashboard/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZXNvdXJjZSI6eyJkYXNoYm9hcmQiOjF9LCJwYXJhbXMiOnt9LCJleHAiOjE3MTM1ODM5NzIsImlhdCI6MTcxMzU4MzM3MX0.9xTAe4t85udN97c5AlFp0-qZ3C5TA9yBbOvVv7UMPeI#bordered=true&titled=true"></iframe>

</body>

</html>
